.chats{
    height: calc(100% - 185px);
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: scroll;
    .messages{
        display: flex;
        align-items: center;
        gap: 10px;
        span{
            font-size: 18px;
            color: white;
        }
        i{
            font-size: 18px;
            color: rgb(33, 148, 255);
        }
    }
    .userChats{
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 20px;
        cursor: pointer;
        border-radius: 10px;
        span{
            color: white;
            white-space: nowrap;
        }
        &:hover {
            background-color: #252628;
        }
        img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    .active{
        background-color: #252628;
    }
    .userChatsInfo{
        width: 100%;
        gap: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .userChatsData{
            span{
                font-size: 14px;
                font-weight: 500;
            }
            p{
                font-size: 12px;
                color: lightgray;
                margin: 0px;
            }
        }
        .userChatsDateTime{
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items: center;
            span{
                font-size: 12px;
                color: lightgray;
            }
        }
    }
}