.contact{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    cursor: pointer;
    img{
        height: 40px;
        width:40px;
        border-radius: 50%;
        background-color: white;
    }
    span{
        color: white;
        font-size: 16px;
    }
}
.contact:hover{
    background-color: #252628;
}