.home{
    background-color: #a7bcff;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
        border-radius: 10px;
        width: 75%;
        height: 90%;
        display: flex;
        position: relative;
        overflow: hidden;
    }
}
@media only screen and (max-width:768px){
    .home{
        .container{
            width: 95%;
            height: 97.3%;
        }
    }
}