@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
:root {
  --sidebarButtonAccent: 22, 163, 74;
  --accent: 88, 101, 242;
}

.dark {
  --sidebar: 23, 23, 23;
  --left: 30, 30, 30;
  --right: 35, 35, 35;
  --button: 38, 38, 38;
  --input: 41, 41, 41;
  --inputText: 255, 255, 255;
}
.light {
  --sidebar: 229, 231, 235;
  --left: 243, 244, 246;
  --right: 255, 255, 255;
  --button: 255, 255, 255;
  --input: 240, 240, 240;
  --inputText: 0, 0, 0;
}
